<h3>Photo</h3>

@if (!string.IsNullOrEmpty(url))
{
    <img src="@url" alt="Photo" />
}
else
{
    <p>No photo uploaded</p>
}

@code {
    [Parameter]
    public string? url { get; set; }
}

<style>
    img {
        width: 300px;
        height: 400px;
        border: solid 1px;
        object-fit: cover;
    }
</style>